<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!DOCTYPE html>

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head runat="server">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <!-- Meta-Tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Tropical Resorts a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!-- //Meta-Tags -->
        <!-- Custom-Stylesheet-Links -->

        <!-- Gallery-Popup-CSS -->
        <link rel="stylesheet" href="../../css/chocolat.css" type="text/css" media="all">
        <!-- Bootstrap-CSS -->
        <link rel="stylesheet" href="../../css/bootstrap.min.css" type="text/css" media="all">
        <!-- Index-Page-CSS -->
        <link rel="stylesheet" href="../../css/style.css" type="text/css" media="all">
        <!-- Animate.CSS -->
        <link rel="stylesheet" href="../../css/animate.css" type="text/css" media="all">
        <!-- //Custom-Stylesheet-Links -->
        <!-- Fonts -->
        <!-- Body-Font -->
        <link rel="stylesheet" href="../../fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" type="text/css">
        <!-- Logo-Font -->
        <link rel="stylesheet" href="../../fonts.googleapis.com/css?family=Cinzel+Decorative:400,900,700" type="text/css">
        <!-- Navbar-Font -->
        <link rel="stylesheet" href="../../fonts.googleapis.com/css?family=Montserrat:400,700" type="text/css">
        <!-- //Fonts -->

        <style>
            .seccion {
                padding-top: 110px;
            }

            .h2-habitacion {
                color: #1dc8d9;
                margin-top: 20px;
                margin-bottom: 0px;
            }

            .ma {
                margin-bottom: 0px;
            }

            .ma-top {
                margin-top: 10px;
            }

            .btn-more-info {
                margin-bottom: 0px;
                margin-top: 30px;
                padding-left: 100px;
                padding-right: 100px;
            }

            .publicidad {
                z-index: 99999;
                background-color: rgba(255, 255, 255, 0.88);
                max-width: 300px;
                border: none;
                border-bottom-right-radius: 10px;
                margin-left: 0px;
                margin-top: 89px;
                padding: 10px 10px;
            }

                .publicidad > p {
                    font-family: cursive;
                    font-weight: 800;
                    font-size: 19px;
                    color: #1dc8d9;
                }

            .publicidad-img {
                width: 100%;
            }

            .cursor {
                border: 0px;
                background-color: rgba(255, 255, 255, 0.10);
                border-radius: 10px;
            }

                .cursor:hover {
                    color: #fff;
                    background-color: #1dc8d9;
                }

            .img-publicidad-footer > img {
                height: 150px;
                width: auto;
                margin-right: 10px;
            }
        </style>

        <script>

            // funcion para aumentar la fuente
            function mostrar() {
                document.getElementById("publicidad-id").style.display = 'block';
            }

            // funcion para disminuir la fuente
            function ocultar() {
                document.getElementById('publicidad-id').style.display = 'none';
            }
        </script>
    </head>
    <body>

        <!-- Header -->
        <div class="header agileits w3layouts" id="home">

            <!-- Navbar -->
            <nav class="navbar navbar-default w3l aits wow bounceInUp agileits w3layouts navbar-fixed-top" style="z-index: 99999;">
                <div class="container">

                    <div class="navbar-header agileits w3layouts">
                        <button type="button" class="navbar-toggle agileits w3layouts collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                            <span class="sr-only agileits w3layouts">Toggle navigation</span>
                            <span class="icon-bar w3l"></span>
                            <span class="icon-bar aits"></span>
                            <span class="icon-bar w3laits"></span>
                        </button>
                        <a class="navbar-brand agileits w3layouts" href="/">High Garden Resort</a>
                    </div>

                    <div id="navbar" class="navbar-collapse agileits w3layouts navbar-right collapse">
                        <ul class="nav agileits w3layouts navbar-nav">
                            <li> <a href="/"> Inicio </a> </li>
                            <li> <a href="/Ofertas/Ofertas"> Ofertas </a> </li>
                            <li> <a href="/Galeria/Galeria"> Galeria </a> </li>
                            <li> <a href="/Facilidades/Facilidades"> Facilidades </a> </li>
                            <li> <a href="/Habitaciones/HabitacionGeneral"> Habitaciones </a> </li>
                            <li> <a href="/Contactenos/Contactenos"> Contáctenos </a> </li>
                        </ul>
                    </div>

                </div>
            </nav>


            @*Publicidad*@
            <div class="navbar-fixed-top text-center publicidad wow bounceInUp">

                <p>
                    Publicidad
                    <input class="cursor" type="button" value="+" onclick="mostrar()">
                    <input class="cursor" type="button" value="-" onclick="ocultar()">
                <p>

                    <div class="slider-2 agileits w3layouts publicidad-img" id="publicidad-id">
                        <ul class="rslides agileits w3layouts" id="slider2">
                            <li>
                                <img src="../../images/project-1.jpg" alt="Agileits W3layouts">
                            </li>
                            <li>
                                <img src="../../images/project-2.jpg" alt="Agileits W3layouts">
                            </li>
                            <li>
                                <img src="../../images/project-3.jpg" alt="Agileits W3layouts">
                            </li>
                            <li>
                                <img src="../../images/project-4.jpg" alt="Agileits W3layouts">
                            </li>
                            <li>
                                <img src="../../images/project-5.jpg" alt="Agileits W3layouts">
                            </li>
                        </ul>
                    </div>
            </div>
            @*FIN Publicidad*@
            <!-- //Navbar -->

            @RenderBody()

            <!-- Footer -->
            <div class="footer agileits w3layouts">
                <div class="container text-center">
                    <p>&copy; 2017 High Garden Resort</p>
                </div>
            </div>
            <!-- //Footer -->
</body>
</html>
