@{
    Layout = "~/Views/ClaseMaster/PaginaGeneralDiseño.cshtml";
}
    <link rel="stylesheet" href="../../css/blueimp-gallery.min.css">

    <!-- MENU -->

        <!-- Banner -->
        <div class="banner agileits w3layouts">
            <img src="../../images/banner.jpg" alt="Agileits W3layouts">
            <h1 class="wow agileits w3layouts fadeInDown">Galería</h1>
        </div>
        <!-- //Banner -->

    </div>
    <!-- //Header -->
    <!-- Rooms -->
    <div class="rooms agileits w3layouts">
        <div class="container">

            <div class="rooms-grids agileits w3layouts">
                <div class="rooms-grid agileits w3layouts rooms-grid-1 wow fadeInRight">
                    <div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel">
                        <div class="slides"></div>
                        <h3 class="title"></h3>
                        <a class="prev">‹</a>
                        <a class="next">›</a>
                        <a class="play-pause"></a>
                        <ol class="indicator"></ol>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="links" class="links">
    <a href="../../images/booking.jpg" title="Libro">
    </a>
    <a href="../../images/cuisines.jpg" title="Cocinas">
    </a>
    </div>
    <!-- Rooms -->
   
    <!-- FOOTER -->


    <!-- Custom-JavaScript-File-Links -->
    <!-- Default-JavaScript -->
    <script type="text/javascript" src="../../js/jquery-2.1.4.min.js"></script>
    <!-- Bootstrap-JavaScript -->
    <script type="text/javascript" src="../../js/bootstrap.min.js"></script>

    <!--Galeria-->

    <script type="text/javascript" src="../../js/blueimp-gallery.min.js"></script>


    <script>
        blueimp.Gallery(
            document.getElementById('links').getElementsByTagName('a'),
            {
                container: '#blueimp-gallery-carousel',
                carousel: true
            }
        );
</script>

    <!-- Animate.CSS-JavaScript -->
    <script src="../../js/wow.min.js"></script>
    <script>
					new WOW().init();
    </script>
    <!-- //Animate.CSS-JavaScript -->
    <!-- Portfolio-Popup-Box-JavaScript -->
    <script src="../../js/modernizr.custom.97074.js"></script>
    <script src="../../js/jquery.chocolat.js"></script>
    <script type="text/javascript">
				$(function() {
					$('.portfolio-item a').Chocolat();
				});
    </script>
    <!-- //Portfolio-Popup-Box-JavaScript -->
    <!-- Slide-To-Top JavaScript (No-Need-To-Change) -->
    <script type="text/javascript">
				$(document).ready(function() {
					var defaults = {
						containerID: 'toTop', // fading element id
						containerHoverID: 'toTopHover', // fading element hover id
						scrollSpeed: 100,
						easingType: 'linear'
					};
					$().UItoTop({ easingType: 'easeOutQuart' });
				});
    </script>
    <a href="#" id="toTop" class="agileits w3layouts" style="display: block;"> <span id="toTopHover" style="opacity: 0;"> </span></a>
    <!-- //Slide-To-Top JavaScript -->
    <!-- Smooth-Scrolling-JavaScript -->
    <script type="text/javascript" src="../../js/move-top.js"></script>
    <script type="text/javascript" src="../../js/easing.js"></script>
    <script type="text/javascript">
					jQuery(document).ready(function($) {
						$(".scroll, .navbar li a, .footer li a").click(function(event){
							$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
						});
					});
    </script>
    <!-- //Smooth-Scrolling-JavaScript -->
    <!-- //Custom-JavaScript-File-Links -->
